*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(234, 25%, 52%);
    width: 90vw;
}

header {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.3rem;
}

.text-blurb {
    width: 70%;
    position: relative;
    right: 2rem;
}

.title {
    width: 75%;
    margin-bottom: 2rem;
}

.title-div {
    position: relative;
    left: 6rem;
}

.heading button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(233, 54%, 16%);
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    position: relative;
    left: 5.2rem;
}

.heading img {
    position: relative;
    right: 3rem;
}

.start-main {
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(hsl(322,87%,55%),hsl(13,100%,64%));
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    position: relative;
    margin-top: 1rem;
    right: 2rem;
}

.tablet-img,.desktop-img {
    display: none;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.course-title {
    position: relative;
    left: 1rem;
    bottom: 2.5rem;
    padding: 2rem 2rem;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(hsl(322,87%,55%),hsl(13,100%,64%));
    border-radius: 10px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    color: hsl(233, 54%, 16%);
    margin-bottom: 2.5rem;
    padding: 2em;
    position: relative;
    left: 1em;
    border-radius: 15px;
}

.card h3, .card p {
    position: relative;
    bottom: 2em;
}

.card img {
    position: relative;
    bottom: 3.8rem;
}

.card a {
    text-decoration: none;
    color: hsl(341, 92%, 62%);
}

main {
    padding-bottom: 4rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13183F;
    width: 100vw;
    padding: 2rem 0;
}

footer img {
    margin-left: 1rem;
}

footer button {
    background-image: linear-gradient(hsl(237,100%,64%),hsl(322,87%,55%));
    color: #fff;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .mobile-img {
        display: none;
    }

    .tablet-img {
        display: initial;
    }
}